#banner{
    height:200px; 
    width: 200px;
    border:black;
    margin-bottom: 20px;
    padding-left: 450px;
}

button{
    width: 150px;
    height: 40px;
    background: #3cc1c1;
    margin-bottom: 30px;
    white-space: normal;
    font-family: 'Arial', serif;

}

#contenedor_botones{
    margin-top: 20px;
    width: 200px;
    float: left;

}

iframe{
    float: left;  
    height: 350px;
    width: 800px;
}



p{
    font-family: 'Arial', serif;
}
