#formulario_anadir{
    visibility: hidden;
    background: white;
    height: 450px;
    width: 650px;  
    padding-left: 40px;
    padding-right: 40px;

}

#formulario_eliminar{
    visibility: hidden;
    background: white;
    height: 450px;
    width: 750px;  
    padding-left: 40px;
    padding-right: 40px;
}
#contenedor_izquierda{
    float: left;
    margin-bottom: 150px;
    width: 300px;
    height: 200px;
}

#contenedor_derecha{
    float: left;
    width: 300px;
    height: 200px;
    margin-left: 50px;
    margin-bottom: 100px;

}

#contenedor_tabla_promociones{
    overflow: scroll;
    height: 200px;
    border-width: 20px;
    width: 650px;  
    padding-left: 40px;
    padding-right: 40px;
}
#limpiarizquierda{
    height: 20px;
}
#limpiarderecha{
    height: 55px;
}
#guardar_promocion{
    float: right;
}

#btneliminar_promocion_ventana{
    float: left;
}

#titulo_anadir{
    height: 80px;
    width: 500px;
    margin-bottom:50px;
    margin-left: 50px;
    background-image: url('../imagenes/titulo.png');
}

#titulo_eliminar{
    height: 80px;
    width: 525px;
    margin-bottom:50px;
    margin-left: 50px;
    background-image: url('../imagenes/titulo2.png');
}

table {
    overflow: scroll;
    border:1px black solid;
    border-radius:5px;
    min-width:400px;
    font-family: Helvetica,Arial;
}

table td {
    padding:6px;
}

/*Primera fila, primera celda*/
table tr:first-child td:first-child {
    border-radius:5px 0px 0px 0px;
}

/*Primera fila, última celda*/
table tr:first-child td:last-child {
    border-radius:0px 5px 0px 0px;
}

/*Última fila, primera celda*/
table tr:last-child td:first-child {
    border-radius:0px 0px 0px 5px;
}

/*Última fila, última celda*/
table tr:last-child td:last-child {
    border-radius:0px 0px 5px 0px;
}
/*Primera fila*/
table.header tr:first-child {
    font-weight: bold;
    color:#fff;
    background: #444;
    border-bottom:1px #000 solid;
}

/*Todas las filas a partir de la segunda*/
table.header tr:nth-child(n+2) {
    text-align: right;
}

table tr:nth-child(2n) {
    background: #bdbeb0;
}

table tr:nth-child(2n+1){
    background: #8f9464;
}

table.header tr:not(:first-child):hover, table:not(.header) tr:hover {
    background: #327a40;
}


